<%- include('partials/header') -%>
<div class="container mx-auto">
    <div class="row mt-5">
        <div>
            <p><strong>Employee</strong>: <%= user.userName %></p>
            <p><strong>Email</strong>: <%= user.email %></p>
            <a href="/logout" class="col-3 btn btn-primary">Logout</a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <a href="/docs"> 
                <div class="card mb-4" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Documentation</h5>
                    </div>
                </div>
            </a>
            <a href="/priceLists"> 
                <div class="card mb-4" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Price Lists</h5>
                    </div>
                </div>
            </a>
            <a href="/clock"> 
                <div class="card mb-4" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Time Clock</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="/jobs"> 
                <div class="card mb-4" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Jobs</h5>
                    </div>
                </div>
            </a>
            <a href="/valveId"> 
                <div class="card mb-4" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Valve Identifier</h5>
                    </div>
                </div>
            </a>
            <a href="/sizer"> 
                <div class="card mb-4" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">O-Ring Sizer</h5>
                    </div>
                </div>
            </a>
        </div>  
    </div>
</div>
<%- include('partials/footer') -%>