<%- include('partials/header') -%>
  <div class="container mx-auto">
    <!-- <div class="flex justify-center lg:justify-end mb-24 mx-2">
    <div>
      <p><strong>Employee Name</strong>: <%= user.userName %></p>
      <p><strong>Email</strong>: <%= user.email %></p>
    </div>
  </div> -->
    <div class="mb-10 lg:mx-24">
      <!-- editable product table -->
      <div class="container">
        <% console.log(document) %>
          <!-- change for different file types -->
          <iframe src="data:application/pdf;base64,' + result.data + '" frameborder="0"></iframe>
      </div><!-- / editable product table -->
    </div>
    <hr class="mb-10">
  </div>

  <%- include('partials/footer') -%>