<%- include('partials/header') -%>
  <div id="app" class="container mx-auto">
    <div class="mt-12 mx-5 lg:mx-24 menu">
      <div class="mb-4">
        <span class="mr-4">Manufacturer: </span>
        <ul>
          <li v-for="manufacturer of manufacturers">
            <input type="radio" name="manufacturer" v-bind:value="manufacturer.name" v-bind:id="manufacturer.name">
            <label v-bind:for="manufacturer.name">{{ manufacturer.name }}</label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script src="../js/vueProductID.js"></script>
  <%- include('partials/footer') -%>