<%- include('partials/header') -%>
  <div id="app" class="container mx-auto">
    <div class="mt-12 mx-5 lg:mx-24 menu">
      <div class="mb-4">
        <span class="mr-4">Manufacturer: </span>
      </div>
    </div>
  </div>
  <script src="../js/vueProductID.js"></script>
  <%- include('partials/footer') -%>