@tailwind base;
@tailwind components;
@tailwind utilities;

form .btn {
    background-color: rgb(28, 79, 130);
}

td > div {
    overflow-wrap: break-word;
}

/* ProductId menu */
.menu span {
    display: inline-block;
    width: 110px;
}
.menu select {
    display: inline-block;
    width: 286px;
}

.job-creator-modal-action {
    flex-direction: column;
}